body {
  font-family: monospace;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  background-color: black;
  color: white;
}

img {
  width: 80%;
}

#formBox  {
}

#handImage {
  float: right;
}
