body {
  font-family: monospace;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  background-color: black;
  color: white;
}

p {
  text-align: center;
  font-style: italic;
}

img {
  width: 80%;
}

#formBox  {
  margin-top: 80px;
}

button {
  margin-top: 20px;
}

#handImage {
  float: right;
}

.output {
  background-color: black;
  color: white;
  margin-top; 20px;
}
